.App {
  text-align: center;
}

.score {
  text-align: center;
  color: green;
}

.navbar {
  text-align: center;
  background-color: black;
  height: 100%;
  color: white;
  font-size: calc(10px + 2vmin);
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

